<h3>Output Format</h3>

<p>Results are returned in JSON by default, but you can change the result format to JSONP, XML, or CSV using the <tt>format</tt> query string parameter. For instance, add <tt>format=jsonp&amp;callback=your_function</tt>, <tt>format=xml</tt>, or <tt>format=csv</tt> to your query string arguments. (You will need either a ? or an &amp; to separate it from the rest of the URL or arguments, of course.)</p>

<p>You can also specify which fields you want using the <tt>fields</tt> argument. Use double-underscores to span relationships.</p>

<h3>Limit/Offset</h3>

<p>Results are paged 100 per call by default. This is true even in CSV format. Set the <tt>limit</tt> parameter to a high value to get all of the results at once. Use <tt>offset</tt> to page through results. The maximum limit is 600.</p>

<h3>Sort</h3>

<p>You can sort results on a single field using the <tt>sort</tt> parameter on any sortable field (as listed below). Prepend the field name with a minus sign to sort in descending order.</p>

<h3>Filtering</h3>

<p>You can filter output on any filterable field (which are indicated in the field documentation below) using query string parameters (e.g. <tt>filter1=value1&amp;filter2=value2</tt>. Endpoints backed by Django Haystack also support the <tt>q</tt>field which performs a full-text search. To specify a null value, just use &ldquo;null&rdquo;. For date and date-time fields, use ISO format (YYYY-MM-DD or YYYY-MM-DDTHH:MM:SS), like you&rsquo;ll see in the output.</p>

<p>Besides exact comparisons, you can also use several operators as <tt>fieldname__operator</tt>. The operators are contains, exact, gt, gte, lt, lte, in, startswith, and range. The in and range operators accept multiple values separated by pipe characters.</p>
